        
        <!----------------- Start of Footer Section ------------------->

        <footer style="display: flex; justify-content: center; align-items: center; height: 8rem; margin-top: 10rem; background-color: #9D84B7;">
            
            <div class="facebook" style="margin: 2rem 4rem;">

                <a href="https://www.facebook.com/thesparksfoundation.info">
                    <i class="fab fa-facebook-f" style="font-size: 2rem; opacity: .8;"></i>
                </a>
            
            </div>

            <div class="twitter" style="margin: 2rem 4rem;">
            
                <a href="https://twitter.com/tsfsingapore">
                    <i class="fab fa-twitter" style="font-size: 2rem; opacity: .8;"></i>
                </a>
            
            </div>

            <div class="insta" style="margin: 2rem 4rem;">
            
                <a href="https://www.instagram.com/thesparksfoundation.info/">
                    <i class="fab fa-instagram" style="font-size: 2rem; opacity: .8;"></i>
                </a>
            
            </div>
            
            <div class="linkedin" style="margin: 2rem 4rem;">
            
                <a href="https://www.linkedin.com/company/the-sparks-foundation/">
                    <i class="fab fa-linkedin-in" style="font-size: 2rem; opacity: .8;"></i>
                </a>
            
            </div>
            
        </footer>

    </body>

</html>

            <!----------------- End of Footer Section ------------------->