
<!--------------- Importing header.ejs -------------->

<%- include('header') %>



<!------------- Start of Body Section --------------->

<div class="main-card">

    <div class="card">
        
        <div class="card-inside">
        
            <div class="card-heading">
                <h1>VIEW CUSTOMERS</h1>
            </div>
            
            <div class="card-btn">
                <button class="btn"><a href="/members">View Customers</a></button>
            </div>
        
        </div>
        
        <div class="card-image">

        </div>
    
    </div>


    <div class="card-2">
    
        <div class="card-image">

        </div>
    
        <div class="card-inside">
    
            <div class="card-heading">
                <h1>MONEY TRANSFER</h1>
            </div>
            
            <div class="card-btn">
                <button class="btn"><a href="/transaction">Transaction</a></button>
            </div>
    
        </div>

    </div>


    <div class="card card-3">
    
        <div class="card-inside">
    
            <div class="card-heading">
                <h1>ADD MONEY</h1>
            </div>
            
            <div class="card-btn">
                <button class="btn"><a href="/add-money">Add Money</a></button>
            </div>
    
        </div>
    
        <div class="card-image">

        </div>
    
    </div>


    <div class="card-2 card-4">
        
        <div class="card-image">

        </div>
    
        <div class="card-inside">
    
            <div class="card-heading">
                <h1>ADD MEMBER</h1>
            </div>
            
            <div class="card-btn">
                <button class="btn"><a href="/add">Add Member</a></button>
            </div>
    
        </div>

    </div>
    
</div>

<!------------- End of Body Section --------------->




<!------------- Importing footer.ejs --------------->

<%- include('footer') %>