<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----------------- Linking Font Awasome --------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

    <!----------------- Linking CSS ------------------->
    <link rel="stylesheet" href="css/header.css">

    <!----------------- Adding Page Icon ------------------->
    <link rel="icon" href="image/2.png" type="image/x-icon">

    <title>THE SPARKS FOUNDATION BANK</title>

</head>
<body>

    <!----------------- Start Of Navigation Bar ------------------->

    <nav class="navbar">
        <!-- <div class="brand-title">TSF BANK</div> -->

        <img src="image/1.png" alt="" />

        <div class="navbar-links">

            <ul>

                <li>
                    <a href="/get-started">Home</a>
                </li>

                <li>
                    <a href="/transaction">Transfer</a>
                </li>

                <li>
                    <a href="/transaction-history">History</a>
                </li>

                <li>
                    <a href="/members">Members</a>
                </li>

                <li class="balance">

                    <p>
                        Balance : <%= balance %>
                    </p>
                
                </li>

            </ul>

        </div>
        
    </nav>

    <!----------------- End of Navigation Bar ------------------->